body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-header {
  position: relative;
  min-width: 1150px;
  height: 90px;
  box-shadow: 0px -7px 35px 0px #00000063;
  line-height: 93px;
}

.home-icon {
  padding-left: 20px;
  color: black;
} 

.logout-button {
  position: absolute;
  top: 35px;
  right: 20px;
  width: 100px;
  height: 25px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right, #7af6d4, rgb(0, 255, 144));
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: .2s ease;
  text-transform: uppercase;
}

.add-menuContainer {
  position: absolute;
  left: 100px;
  top: 24px;
}

.add-icon {
  background-color: initial;
  font-size: 37px;
  border: none;
  outline: none;
}

.add-popupMenu {
  position: fixed;
  flex-direction: row;
  left: 150px;
  top: 26px;
}

.add-fileButton, .add-folderButton {
  display: inline-block;
  width: 100px;
  border: none;
  outline: none;
  font-size: 25px;
}

.add-fileButton {
  position: fixed;
  left: 157px;
  margin-bottom: 10px;
  margin-top: 0px;
  opacity: 0;
  z-index: 2000;
  width: 10px;
}

.add-folderButton {
  background-color: initial;
  position: absolute;
  margin-left: 5px;
  width: 20px;
  top: 31px;
}

.path-list {
  margin-bottom: -20px;
  margin-top: 30px;
  margin-left: 23px;
}

.path-list > a {
  text-decoration: none;
  font-size: 17px;
  color: #000;
}

.path-list > a:first-child {
  text-transform: uppercase;
}

.item-table {
  position: relative;
  width: 1130px;
  max-height: 455px;
  margin: 0 auto;
  margin-bottom: 65px;
  margin-top: 30px;
  border: none;
  overflow: scroll;
  box-shadow: -2px 26px 39px 0px #0000001a;
}

.thead {
  display: block;
  margin-top: 45px;
}

.head-row {
  width: 1000px;
  height: 50px;
  top: 176px;
}

.th-type, .th-name, .th-lastUpdate, .th-size {
  width: 170px;
  font-size: 20px;
  font-weight: 700;
}

.th-name {
  position: relative;
  left: -50px;
}

tbody {
  box-shadow: 0px 16px 27px 0px #0000002b;
}

.file-row:nth-child(odd) {
  background-color: #88e2972b;
}

.file-row {
  height: 50px;
}

.td-type.material-icons {
  margin-left: 72px;
  margin-top: 12px;
}

.thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-top: -2px;
  margin-left: -3px;
}

.td-download {
  cursor: pointer;
  position: absolute;
  margin-top: 12px;
}

.td-name {
  width: 315px;
  text-overflow: ellipsis;
}

.td-name > a {
  text-decoration: none;
  color: #000;
}

.td-lastUpdate {
  position: relative;
  display: flex;
  justify-content: left;
  margin-left: 30px;
  top: 10px;
  width: 160px;
}

.td-size {
  padding-left: 60px;
}

.td-menuButton {
  padding-right: 5px;
  padding-left: 20px;
  margin-top: 6px;
  border: none;
  outline: none;
  background-color: transparent;
}

.modal__shadow__container {
  position: fixed;
  left: 250px;
  top: 20px;
  width: 550px;
  height: 35px;
  font-size: 15px;
  background-color: transparent;
  border-bottom: 1px solid #888;
  outline-color: aquamarine;
}

.modal__shadow__input {
  background-color: transparent;
  font-size: 16px;
  margin-right: 10px;
  height: 30px;
  width: 411px;
  border: none;
  outline: none;
}

.modal__shadow__container__buttonBox__button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 14px;
  font-size: 15px;
  font-weight: 600;
}

.custom-file-label {
  margin-top: 5px;
}

.openfirst {
  animation: popup 0.2s ease;
}

.opensecond {
  animation: popup 0.6s ease;
}

@keyframes popup {
  from {opacity: 0;}
  to {opacity: 1;}
}





