body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: no-repeat center center fixed;
  background-image: url();
  background-size: cover;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-header {
  position: relative;
  min-width: 1150px;
  height: 90px;
  box-shadow: 0px -7px 35px 0px #00000063;
  line-height: 93px;
}

.home-icon {
  padding-left: 20px;
  color: black;
}

.favorites {
  text-decoration: none;
  margin-left: 70px;
  position: relative;
  color: #000;
  top: 5px;
}

.favorites-text {
  position: relative;
  top: -7px;
  margin-left: 5px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.favorites-icon {
  font-size: 29px;
}

.search-icon {
  position: absolute;
  top: 33px;
  left: 255px;
  font-size: 25px;
  text-decoration: none;
  color: #000;
}

.app-title {
  position: absolute;
  right: 220px;
  font-size: 30px;
  line-height: 90px;
  letter-spacing: -2px;
}

.logout-button {
  position: absolute;
  top: 35px;
  right: 20px;
  width: 100px;
  height: 25px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right, #7af6d4, rgb(0, 255, 144));
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: 0.2s ease;
  text-transform: uppercase;
}

.add-menuContainer {
  position: fixed;
  left: 3.5%;
  bottom: 35px;
}

.add-icon {
  background-color: initial;
  font-size: 37px;
  border: none;
  outline: none;
}

.add-popupMenu {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 32px;
  margin-left: 5px;
  left: 7%;
}

.add-fileButton,
.add-folderButton {
  display: inline-block;
  width: 100px;
  border: none;
  outline: none;
  font-size: 25px;
}

.add-fileButton {
  position: fixed;
  margin-bottom: 20px;
  margin-top: 0px;
  opacity: 0;
  z-index: 2000;
  width: 10px;
}

.add-folderButton {
  background-color: initial;
  margin-left: -12px;
  padding-bottom: 15px;
  width: 20px;
}

.item-table {
  position: relative;
  width: 1130px;
  max-height: 455px;
  margin: 0 auto;
  margin-bottom: 65px;
  margin-top: 30px;
  border: none;
  overflow: scroll;
  box-shadow: -2px 26px 39px 0px #0000001a;
}

.thead {
  display: block;
  margin-top: 45px;
}

.head-row {
  width: 1000px;
  height: 50px;
  top: 176px;
}

.th-type,
.th-name,
.th-lastUpdate,
.th-size {
  width: 170px;
  font-size: 20px;
  font-weight: 700;
}

.th-type {
  width: 95px;
}

.th-name {
  position: relative;
  padding-right: 136px;
  left: 2px;
}

.th-lastUpdate {
  text-align: left;
  padding-left: 35px;
}

tbody {
  box-shadow: 0px 16px 27px 0px #0000002b;
}

.file-row:nth-child(odd) {
  background-color: #88e2972b;
}

.file-row {
  height: 50px;
}

.td-type.material-icons {
  margin-left: 35px;
  margin-top: 12px;
}

.thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-top: -2px;
  margin-left: -3px;
}

.favorite-Button {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  left: 10px;
}

.td-download {
  cursor: pointer;
  position: absolute;
  margin-top: 13px;
}

.td-name {
  max-width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 60px;
}

.td-name > a {
  text-decoration: none;
  color: #000;
}

.td-lastUpdate {
  position: relative;
  display: flex;
  justify-content: left;
  margin-left: 30px;
  top: 8px;
  width: 160px;
}

.td-size {
  padding-left: 60px;
}

.td-menu {
  min-width: 250px;
}

.td-menuButton {
  padding-right: 5px;
  padding-left: 20px;
  margin-top: 6px;
  border: none;
  outline: none;
  background-color: transparent;
}

.popUp-inputfield {
  background-color: white;
  height: 50px;
  width: 550px;
  border-radius: 5px;
  padding-left: 10px;
  position: relative;
  box-shadow: 0 0 8px 1px grey;
}

.modal__shadow__container {
  margin-top: -150px;
  width: 630px;
  height: 47px;
  font-size: 15px;
}

.modal__shadow__input {
  background-color: transparent;
  font-size: 16px;
  margin-right: 10px;
  height: 30px;
  width: 475px;
  border: none;
  outline: none;
}

.modal__shadow__container__buttonBox__button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 14px;
  font-size: 15px;
  font-weight: 600;
}

.custom-file-label {
  margin-top: -5px;
  margin-left: -4px;
}

.opensecond {
  animation: popup 0.6s ease;
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
