.App {
    position: relative;
}

.popUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #80808040;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp-content{
    background-color: white;
    min-height: 250px;
    width: 300px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 8px 1px grey;
}

.popUp-content-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    background: initial;
    border: none;
    font-size: 30px;
    outline: none;
}

.popUp-content-box {
    top: 40px;
    left: 20px;
    text-align: center;
}

.popUp-content-box > button{
    margin: 10px;
    margin-top: 30px;
    width: 100px;
    height: 25px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #7af6d4, rgb(0, 255, 144));
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: .2s ease;
    text-transform: uppercase;
}

.moveItemList{
    min-width: 110px;
    height: 25px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.moveItemList-option {
    border: none;
    margin-top: 20px;
}
